.finder-container {
    position: fixed;
    left: -30%;
 
    bottom:  15vh;
    width: 180%;
   
    background: rgba(234, 234, 234, 0.84); 
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
   
    backdrop-filter: 'blur(100px)';
  
 
}
.window-button:hover {
    background: 'rgba(0, 0, 0, 0.1)';
    border-radius: 5;
}
.close {
    width: 12px;
    position: relative;
    border-radius: 100px;
    background-color: #ff5f57;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 12px;
}
.minimize {
    width: 12px;
    position: relative;
    border-radius: 100px;
    background-color: #febc2e;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 12px;
}
.zoom {
    width: 12px;
    position: relative;
    border-radius: 100px;
    background-color: #28c840;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 12px;
}
.windowControls {
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
    gap: 8px;
}
.toolbar {
    align-self: stretch;
    backdrop-filter: blur(30px);
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 9px 0px;
    box-sizing: border-box;
}
.section {
    flex: 1;
    position: relative;
    line-height: 14px;
}
.symbol {
    position: relative;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
}
.sectionHeader {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 12px 6px 8px;
    gap: 10px;
    text-align: left;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.25);
}
.symbol1 {
    align-self: stretch;
    width: 20px;
    position: relative;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.label {
    flex: 1;
    position: relative;
    font-size: 11px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.leading {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}
.trailing {
    width: 20px;
    height: 16px;
}
.sidebarItem {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 8px;
    box-sizing: border-box;
    gap: 14px;
}

sidebarItemWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}


.skillsIcon {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 28.57%;
    right: 86.67%;
    bottom: 25%;
    left: 6.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 999;
    

}

.component1 {
    width: 180px;
    position: relative;
    height: 28px;
}
.recent {
    margin: 0;
}
.labelTxt {
    line-break: anywhere;
}
.sidebarGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sectionHeader1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 12px 6px 8px;
    gap: 10px;
}
.sidebarItem4 {
    align-self: stretch;
    border-radius: 5px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 8px;
    box-sizing: border-box;
    gap: 14px;
    text-align: center;
    font-size: 13px;
    color: #007aff;
}
.sidebarItem5 {
    align-self: stretch;
    border-radius: 5px;
    height: 28px;
}
.sidebarGroup1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 9px 0px 0px;
    text-align: left;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.25);
}
.sidebarList {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 10px;
}
.sidebar {
    align-self: stretch;
    width: 200px;
    border-right: 5px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    mix-blend-mode: normal;
}
.separator {
    align-self: stretch;
    width: 1px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.18);
}
.label5 {
    flex: 1;
    position: relative;
    line-height: 16px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 16px;
    left: 12px;
}
.documentIconLabel {
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(0, 0, 0, 0.01);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 15px;
}
.listItemPrimary {
    position: absolute;
    width: 100%;
    top: calc(50% - 92px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.listItemPrimary1 {
    position: absolute;
    width: 100.92%;
    top: calc(50% - 164px);
    right: -0.92%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.close {
    width: 12px;
    position: relative;
    border-radius: 100px;
    background-color: #ff5f57;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 12px;
    }
    .minimize {
    width: 12px;
    position: relative;
    border-radius: 100px;
    background-color: #febc2e;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 12px;
    }
    .zoom {
    width: 12px;
    position: relative;
    border-radius: 100px;
    background-color: #28c840;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 12px;
    }
    .windowControls {
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
    gap: 8px;
    }
    .toolbar {
    align-self: stretch;
    backdrop-filter: blur(30px);
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 9px 0px;
    box-sizing: border-box;
    }
    .section {
    flex: 1;
    position: relative;
    line-height: 14px;
    }
    .symbol {
    position: relative;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
    }
    .sectionHeader {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 12px 6px 8px;
    gap: 10px;
    text-align: left;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.25);
    }
    .symbol1 {
    align-self: stretch;
    width: 20px;
    position: relative;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    }
    .label {
    flex: 1;
    position: relative;
    font-size: 11px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    }
    .leading {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    }
    .trailing {
    width: 20px;
    height: 16px;
    }
    .sidebarItem {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 8px;
    box-sizing: border-box;
    gap: 14px;
    }
    .sidebarItemWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    }
    .vectorIcon {
    position: absolute;
    height: 46.43%;
    width: 7.22%;
    top: 28.57%;
    right: 86.67%;
    bottom: 25%;
    left: 6.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    }
    .component1 {
    width: 180px;
    position: relative;
    height: 28px;
    }
    .sidebarItem1 {
    align-self: stretch;
    border-radius: 5px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 8px;
    box-sizing: border-box;
    gap: 14px;
    }
    .recent {
    margin: 0;
    }
    .labelTxt {
    line-break: anywhere;
    }
    .sidebarGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    }
    .sectionHeader1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 12px 6px 8px;
    gap: 10px;
    }
    .sidebarItem4 {
    align-self: stretch;
    border-radius: 5px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 8px;
    box-sizing: border-box;
    gap: 14px;
    text-align: center;
    font-size: 13px;
    color: #007aff;
    }
    .sidebarItem5 {
    align-self: stretch;
    border-radius: 5px;
    height: 28px;
    }
    .sidebarGroup1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 9px 0px 0px;
    text-align: left;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.25);
    }
    .sidebarList {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 10px;
    }
    .sidebar {
    align-self: stretch;
    width: 200px;
    border-right: 5px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    mix-blend-mode: normal;
    }
    .separator {
    align-self: stretch;
    width: 1px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.18);
    }
    .label5 {
    flex: 1;
    position: relative;
    line-height: 16px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 16px;
    }
    .documentIconLabel {
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(0, 0, 0, 0.01);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 15px;
    }
    .listItemPrimary {
    position: absolute;
    width: 100%;
    top: calc(50% - 92px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    }
    .listItemPrimary1 {
    position: absolute;
    width: 100.92%;
    top: calc(50% - 164px);
    right: -0.92%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    }

    .listItemPrimary2 {
    position: absolute;
    width: 98.92%;
    top: calc(50% + 52px);
    right: 1.08%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    }
.listItemPrimary3 {
position: absolute;
width: 100%;
top: calc(50% - 74px);
right: 0%;
left: 0%;
background-color: #fff;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 1px 8px 1px 25px;
box-sizing: border-box;
}

.margins {
    position: absolute;
    height: calc(100% - 52px);
    width: 100%;
    top: 52px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 20px solid #fff;
    box-sizing: border-box;
}
.documentIcon {
    width: 18px;
    position: relative;
    height: 18px;
    object-fit: cover;
}
.documentIconLabel1 {
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    background-color: #2962d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 15px;
    gap: 4px;
}


.label9 {
    flex: 1;
    position: relative;
    line-height: 14px;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 14px;
}
.rightDetail {
    width: 28px;
    position: relative;
    height: 28px;
}
.labelRightDetail {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 47px;
}
.separator1 {
    align-self: stretch;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    opacity: 0.5;
    mix-blend-mode: normal;
    margin-top: -1px;
}
.header {
    position: absolute;
    width: 99.54%;
    top: calc(50% - 214px);
    right: 0%;
    left: 0.46%;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 0px 5px;
    font-size: 11px;
}

.documentIconLabel7 {
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    background-color: #2962d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 15px;
  
}
.listItemPrimary4 {
    position: absolute;
    width: 100%;
    top: calc(50% - 110px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 25px;
    box-sizing: border-box;
}
.listItemPrimary5 {
    position: absolute;
    width: 100%;
    top: calc(50% - 146px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 25px;
    box-sizing: border-box;
}
.listItemPrimary6 {
    position: absolute;
    width: 99.69%;
    top: calc(50% - 128px);
    right: 0.31%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.javaOriginal1Icon {
    position: absolute;
    top: 230px;
    left: 14px;
    width: 13px;
    height: 13px;
    overflow: hidden;
}
.listItemPrimary7 {
    position: absolute;
    width: 100%;
    top: calc(50% - 56px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.nextjs1Icon {
    position: absolute;
    top: 248px;
    left: 14px;
    width: 13px;
    height: 13px;
    overflow: hidden;
}
.listItemPrimary8 {
    position: absolute;
    width: 100%;
    top: calc(50% - 38px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 25px;
    box-sizing: border-box;
}
.postgresql1Icon {
    position: absolute;
    top: 266px;
    left: 14px;
    width: 13px;
    height: 13px;
    overflow: hidden;
}
.listItemPrimary9 {
    position: absolute;
    width: 100%;
    top: calc(50% - 20px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.aws1Icon {
    position: absolute;
    top: 285px;
    left: 14px;
    width: 13px;
    height: 13px;
    overflow: hidden;
}
.listItemPrimary10 {
    position: absolute;
    width: 100%;
    top: calc(50% - 2px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 25px;
    box-sizing: border-box;
}
.javascriptJs1Icon {
    position: absolute;
    top: 85px;
    left: 14px;
    width: 13px;
    height: 13px;
    overflow: hidden;
}
.mysqlOriginalWordmark1Icon {
    position: absolute;
    top: 300px;
    left: 14px;
    width: 13px;
    height: 15px;
    overflow: hidden;
}
.dModel1Icon {
    position: absolute;
    top: 210px;
    left: 14px;
    width: 12px;
    height: 14px;
    object-fit: cover;
}
.fileTypeSass1Icon {
    position: absolute;
    top: 318px;
    left: 14px;
    width: 14px;
    height: 16px;
    overflow: hidden;
}

.label18{
    flex: 1;
    position: relative;
    line-height: 14px;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 14px;
}
.column1 {
    position: absolute;
    width: 33.33%;
    top: 0px;
    right: 66.67%;
    left: 0%;
    height: 300px;
}
.table {
    position: absolute;
    top: 230px;
    left: 16px;
    width: 600px;
    height: 300px;
}
.nodejs1Icon {
    position: absolute;
    top: 194px;
    left: 14px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    object-fit: cover;
}
.listItemPrimary11 {
    position: absolute;
    width: 100%;
    top: calc(50% + 16px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.vitejs1Icon {
    position: absolute;
    top: 175px;
    left: 14px;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.brandThreejs1Icon {
    position: absolute;
    top: 157px;
    left: 14px;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.reactIcon {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 103px;
    left: 14px;
    overflow: hidden;

}
.listItemPrimary12 {
    position: absolute;
    width: 100%;
    top: calc(50% + 34px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 8px 1px 25px;
    box-sizing: border-box;
}
.html51Icon {
    position: absolute;
    top: 121px;
    left: 14px;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.listItemPrimary13 {
    position: absolute;
    width: 100%;
    top: calc(50% - 182px);
    right: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.fileTypeCss2Icon {
    position: absolute;
    top: 138px;
    left: 14px;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.contentArea {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
}
.symbol7 {
    position: absolute;
    top: calc(50% - 19px);
    left: calc(50% - 17px);
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 38px;
    mix-blend-mode: normal;
}
.sidebarButton {
    align-self: stretch;
    width: 38px;
    position: relative;
}


.titleSidebarAndNavigation {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 12px;
    gap: 8px;
}
.leading5 {
    width: 145px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.spacer {
    width: 24px;
    position: relative;
    height: 52px;
}
.symbol8 {
    width: 16px;
    position: relative;
    line-height: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    flex-shrink: 0;
    mix-blend-mode: linear-burn;
}
.searchLabel {
    flex: 1;
    position: relative;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.25);
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 16px;
}
.search {
    width: 241px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 7px;
    gap: 8px;
}
.trailing5 {
    width: 261px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 12px;
    box-sizing: border-box;
    font-size: 13px;
    color: #4d4d4d;
}
.toolbar1 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    background-color: rgba(234, 234, 234, 0.8);
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 9px 0px;
    box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}
.contentAreaAndToolbar {
    align-self: stretch;
    flex: 1;
    position: relative;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
}
.sidebarAndContentAreaWith {
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.1) inset, 0px 36px 100px rgba(0, 0, 0, 0.4), 0px 0px 3px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    background-color: rgba(234, 234, 234, 0.84);
    height: 530px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 13px;
    color: #007aff;
    font-family: 'SF Pro';
}

.finder-title {
    height: 100%;
    width: 100%;
     flex: 1;
     position: relative;
     font-size: 15px;
     line-height: 20px;
     font-weight: 500;
     color: rgba(0, 0, 0, 0.957);
     text-align: left;
     display: flex;
     align-items: center;
 }