body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  /* background */
background-image: url("./assets/DarkSon.png");

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


*, ::after, ::before {
    -moz-osx-font-smoothing: antialiased;
    -webkit-text-stroke: 0px !important;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: content-box !important;
}